*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Courier New', Courier, monospace;
}
.encabezado{
  color: white;
  font-size: 1.2em;
  height: 10em;
  background-image: url(../img/header.png);
  background-position: center;
  background-size: cover ;
}
.encabezado h1{
  font-size: 4em;
  font-weight: 500;
  padding:3% 0% 0 5%;
  text-align: left;
  margin: 0px;
  
}
.encabezado p{
  margin: 0%;
  padding:0% 0% 2% 5%;
  text-align: left;
}
.productos{
  background-color: rgba(223, 223, 223, 0.274);
  margin: auto;
  width: 100%;
  font-size: 1em;
}

.productos td{
  width: 30%;
  padding: 2em;
}
.productos img{
  margin: 0;
  width: 50%;
  padding: 1%;
     
}
.productos p{
  font-size: 1em;
  vertical-align: top;
  width: 70%;
}

.precio{
  color: rgb(255, 0, 0);
  text-align: right;
}
.pie-pagina{
  display: flex;
  padding:2%;
  color: #fff ;
  background-color: rgb(0, 0, 36);
  height: 100px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.pie-nombre{
  margin: 0;
  font-size: 1.5em;
}